#dash{
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#profile-header{
    grid-row: 1/2;
    background-color: white;
}

#content-container{
    grid-row:2/3;
    background-color: rgb(235, 235, 235);
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
    padding:20px;
}

#project-container{
    grid-row: 1/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: auto;
    gap: 20px
}

#announcement-container{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#trending-container{
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    padding: 20px;  
    margin-top: 50px;
}

#project-container img{
    width: 20px;
    height: 20px;
}

#project-container p,
#trending-container p,
#announcement-container p{
    font-size: 15px;
}

#announcement-container,
#trending-container{
    background-color: white;
    border-radius: 10px;
}

#project-container .project-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

#announcement-container > .announcement-card{
    padding: 10px;
}

#announcement-container > .announcement-card + .announcement-card{
    border-top: 1px solid lightgray;
}

#project-container .card-essential-sign-container{
    display: flex;
    justify-content: end;
}

#project-container .card-essential-sign-container img+img{
    margin-left: 15px;
}

#content-container .heading{
    font-weight: bold;
    font-size: 18px;
}