#sidebar{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
    justify-content: start;
    align-items: center;
}

#sidebar img{
    width: 20px;
    height: 20px;
}

#sidebar p{
    font-size: 12px;
    font-weight: 500;
}

#sidebar > div{
    display: flex;
    flex-direction: column;
}

#sidebar .sidebar-item{
    width: 130px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

#sidebar > div + div{
    margin-top: 50px;
}
